.DepartmentList-list {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.DepartmentList-item {
  margin: 10px;
}